 <head>
 <title>Junta de Vecinos Requegua</title>
 </head>
 <body>

<main>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Bienvenido a la Junta de Vecinos Requegua.</h1>
            </div>
        </div>
    </div>
</main>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Actividades</h2>
     <p class="fs-5 text-muted">Conoce todas actividaes y noticias de nuestra comunidad.</p>
</div>


 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag 'Imagen_1.png', alt: 'icon', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
            <%= image_tag 'Imagen_2.png', alt: 'icon', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
            <%= image_tag 'Imagen_3.png', alt: 'icon', class: 'd-block w-100' %>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Tramites</h2>
     <p class="fs-5 text-muted">En esta seccion podras solicitar los diferentes documentos.</p>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Certificado de Residencia</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Certificado de Residencia</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Certificado de Residencia</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Directiva</h2>
     <p class="fs-5 text-muted">Aqui encontraras a los miembros del directorio de nuestra junta de vecinos.</p>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Director</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Tesorero</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Delegado</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
 
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
 <symbol id="check" viewBox="0 0 16 16">
 <title>Check</title>
 <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
 </symbol>
</svg>




 <div class="col-md-10 mx-auto col-lg-5">
 <form id="form_registro" class="p-4 p-md-5 border rounded-3 bg-light">
 <h3 class="text-center">Recibe nuestras noticias</h3>
 <div class="form-floating mb-3">
 <input type="text" class="form-control" id="txtnombre" placeholder="Nombre">
 <label for="txtnombre">Nombre</label>
 </div>
 <div class="form-floating mb-3">
 <input type="text" class="form-control" id="txtapellido" placeholder="Apellido">
 <label for="txtapellido">Apellido</label>
 </div>
 <div class="form-floating mb-3">
 <input type="email" class="form-control" id="txtmail" placeholder="E-mail">
 <label for="txtmail">E-mail</label>
 </div>
 <div class="form-floating mb-3">
 <input type="email" class="form-control" id="txtfono" placeholder="Telefono">
 <label for="txtfono">Telefono</label>
 </div>
 <button id="btn_registro" type="button" class="w-100 btn btn-lg btn-primary" onclick="validar(this)">Prueba Smarket Ahora</button>
 <hr class="my-4">
 </form>
 </div>


